<?xml version="1.0" encoding="UTF-8"?>
<web-app 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns="http://java.sun.com/xml/ns/javaee" 
		xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
							http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" 
	version="3.0">
  <display-name>MyFirstServletApplication</display-name>

	<servlet>
		<servlet-name>firstServlet</servlet-name>
		<servlet-class>com.microInfo.users.servlet.FirstServlet</servlet-class>
	</servlet>
	
	<!-- <servlet>
		<servlet-name>registerServlet</servlet-name>
		<servlet-class>com.microInfo.users.servlet.<yourNEwClass></servlet-class>
	</servlet> -->
	
	<servlet>
		<servlet-name>fetchUsers</servlet-name>
		<servlet-class>com.microInfo.users.servlet.UserServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>firstServlet</servlet-name>
		<url-pattern>/welcome</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>firstServlet</servlet-name>
		<url-pattern>/userLogin</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>fetchUsers</servlet-name>
		<url-pattern>/fetchUsers</url-pattern>
	</servlet-mapping>
	
<!-- 	<servlet-mapping>
		<servlet-name>registerServlet</servlet-name>
		<url-pattern>/registerUser</url-pattern>
	</servlet-mapping> -->

	<welcome-file-list>
		<welcome-file>/WEB-INF/index.jsp</welcome-file>
	</welcome-file-list>

</web-app>